
<div class="bmi-container">
<fieldset>
    <legend>BMI Calculator</legend>

    <mat-form-field appearance="fill">
        <mat-label>Height</mat-label>
        <input matInput name="heightTextBox" [(ngModel)] ="height" #heightFormControlRef="ngModel">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Weight</mat-label>
        <input matInput [(ngModel)] ="weight" #weightFormControlRef="ngModel">
    </mat-form-field>


    <section>
        <div class="example-button-row-bmi">
        <button mat-raised-button color="primary" (click)="calculateBMI()">Calculate</button>
        <button mat-raised-button color="primary" (click)="reset()" >Clear</button>
        </div>
    </section>
    <table>
    <tr>  
    <div class example-label-bmi> 
        <td>BMI Score is :{{bmiScore}}</td>
    </div>
    </tr>
    <td>
        <p> IsTextBox Prestine: {{heightFormControlRef.touched}}</p>
        <p> IsTextBox Dirty: {{heightFormControlRef.dirty}}</p>
        <p> IsTextBox valid: {{heightFormControlRef.valid}}</p>
        <!--p> IsTextBox value: {{heightFormControlRef.value}}</p-->
        <div *ngIf="heightFormControlRef.errors && (heightFormControlRef.dirty||heightFormControlRef.touched)" >
            <p> textbox is in error state</p>
        </div>
        <p *ngIf="heightFormControlRef.errors && heightFormControlRef.errors['required']">TextBox Requires Value</p>                       
    </td>
    </table>

</fieldset>
</div>



<!--Content-->
<!--fieldset>
    <legend>BMI Calcuator</legend>
    <table>
        <tr>
            <td>Height</td>
                <td>
                    <input type="text" name="heightTextBox" 
                    [(ngModel)] ="height" #heightFormControlRef="ngModel"
                    required pattern="\d{2}"/>
                </td>
                <td>
                    <p> IsTextBox Prestine: {{heightFormControlRef.touched}}</p>
                    <p> IsTextBox Dirty: {{heightFormControlRef.dirty}}</p>
                    <p> IsTextBox valid: {{heightFormControlRef.valid}}</p>
                    <p> IsTextBox value: {{heightFormControlRef.value}}</p>
                    <div *ngIf="heightFormControlRef.errors && (heightFormControlRef.dirty||heightFormControlRef.touched)" >
                        <p> textbox is in error state</p>
                    </div>
                    <p *ngIf="heightFormControlRef.errors && heightFormControlRef.errors['required']">TextBox Requires Value</p>                       
                </td>
        </tr>
        <tr>
            <td>Weight</td>
                <td>                   
                    <input type="text" [(ngModel)] ="weight"/>                                  //new FormControl
                </td>
        </tr>
        <tr>
            <td>
                <button (click)="calculateBMI()"> Calculate</button>
            </td>
            <td>
                <button (click)="reset()"> Clear</button>
            </td>
        </tr>
        <tr>
            <td>Points:</td>
            <td>BMI Score is :{{bmiScore}}</td>
        </tr>
    </table>
</fieldset-->