  
  .bmi-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  .example-button-row-bmi {
    display: table-cell;
    width: 500px;
  }
  
  .example-button-row-bmi .mat-button-base {
    margin: 8px 8px 8px 0;
  }

  example-label-bmi .mat-button-base {
    margin: 8px 10px 10px 0;
  }