<div class="login-container">
    <fieldset>
    <legend>Login Page</legend>

    <form [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Login</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>

    <mat-form-field >
        <mat-label>Enter your password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <section>
        <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="login()">Login</button>
        <button mat-raised-button color="primary" (click)="clear()" >Cancel</button>
        </div>
    </section>

    </form>

    <div *ngIf="loginForm.controls['userName'].errors && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
        <p *ngIf="loginForm.controls['userName'].errors?.['required']">userName is required</p>
    </div>
    
    <div *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
        <p *ngIf="loginForm.controls['password'].errors?.['required']">Password is required</p>
        <p *ngIf="loginForm.controls['password'].errors?.['minlength']">Password must be 8 characters long</p>
    </div>

</fieldset>
</div>

