<fieldset>
    <legend> Login Form</legend>
    <form [formGroup]="loginForm" (ngSubmit)='login()'>
    <table>
        <tr>
            <td>UserName:</td>
            <td>
                <input type="text" formControlName="userName"/>
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type="password" formControlName="password"/>
            </td>
        </tr>

        <tr>           
            <td>
                <input type="submit" value ="Login"/>
            </td>
            <td>
                <input type="button" value ="Reset" (click)="clear()"/>
            </td>
        </tr>
    </table>
</form>
</fieldset>

    
