<p hoverd [hover]="'red'" [hover]="'blue'" [selectedStateColor]="'blue'">Philips Health Assistant Portal2</p>
<!--p hover [defaultColorValue]="'red'">Philips Health Assistant Portal1</p>
<p hover [defaultColorValue]="'green'">Philips Health Assistant Portal2</p>
<p hover [defaultColorValue]="'blue'">Philips Health Assistant Portal2</p>
<p hover >Philips Health Assistant Portal3</p-->
<meld-calc></meld-calc>
<bmi-calc></bmi-calc>
<app-login></app-login>
<app-feedback-component></app-feedback-component>